<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Display</title>
</head>
<body>
    <h3>Energy Available</h3>
    <div>
        {% for key, value in usable.items() %}
        <p><strong>{{key}}:</strong>&nbsp &nbsp &nbsp{{value}}</p>
        {% endfor %}
    </div>
    

    <br /><br />
    
    <h3>Energy Used</h3>
    <div>
        {% for key, value in display.items() %}
        <p><strong>{{key}}</strong>&nbsp &nbsp &nbsp{{value}}</p>
        {% endfor %}
    </div>

    <div>
        Energy Demand: {{demand}}<br />
        Energy Used: {{used}}
    </div>
    
</body>
</html>